<div class="container">
  {{#each posts as |post| }}
  <div class="row p-3">
    <h1>
      <a href="/post/{{project.id}}">{{project.name}}</a>
    </h1>
    <p>
      {{post.description}}
    </p>
   <p>
      Posted by {{post.user.name}}
    </p>
  </div>
  {{/each}}
</div>